{% extends "Emp_app/login_base.html" %}
{% block css %}
{% load static %}
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('id_password');
        var eyeIcon = document.getElementById('eyeIcon');

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.innerHTML = '🙈'; // HTML entity for eye open
        } else {
            passwordInput.type = "password";
            eyeIcon.innerHTML = '👁️'; // HTML entity for eye closed
        }
    }




</script>

<style>
</style>
    {% endblock %}
    {% block content %}

<div class="login-container">

    <h1 style="margin-left: 73px; color: orange;">Sign in to your Account</h1>

    <img src="{% static 'cf_logo.png' %}" alt="Creating Futures Logo" class="logo">
    <form method="post">
        {% csrf_token %}


        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">


        </p>




        <div class="input-group" style="position: relative;">
            <p>
                <label for="id_password">Password:</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                <span onclick="togglePasswordVisibility()" id="eyeIcon" style="cursor: pointer; position: absolute; right: 22px; top: 31px;">👁️</span>




            </p>
        </div>

        <div class="forgot-password">
            <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
        </div>

        <button class="login-btn" onclick="validateForm()">Login</button>

    </form>
</div>
    {% endblock %}







