{% extends "Emp_app/login_base.html" %}
{% block css %}
{% load static %}
<style>
   
</style>
{% endblock %}
{% block content %}

<div class="login-container">

    <h1 style="margin-left: 73px; color: orange;">Sign in to your Account</h1>

    <img src="{% static 'cf_logo.png' %}" alt="Creating Futures Logo" class="logo"> 
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="forgot-password">
            <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
        </div>

        <button class="login-btn" onclick="validateForm()">Login</button>
</div>
    </form>

{% endblock %}







