{% extends "Emp_app\login_base.html" %}
{% load static %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
{% block css %}
<style>
    .centered-content {
        text-align: center;
        margin-top: 50px; /* Adjust as needed */
    }
    p {
        text-align: center;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px; /* Adjust as needed */
    }

        .form-container form {
            margin-top: 20px; /* Adjust as needed */
        }
</style>
{% endblock %}

<center>
    <h1>Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
</center>

{% endif %}
{% endblock %}