{% extends "Emp_app/login_base.html" %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock %}
{% block css %}


<style>
    #id_email {
        width: calc(100% - 22px); /* Adjust width to account for padding and border */
        padding: 10px;
        margin: 5px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    h2 {
        display: none;
    }

    label {
        margin-right: 89%;
    }
</style>
{% endblock %}
{% block content %}


<!--<p>Enter your email address below, and we'll email instructions for setting a new one.</p>-->
<form method="POST">
    <div class="login-container">
        <center> <h1 style="margin-left: 73px; color: orange;">Enter your Email</h1></center>
        <img src="{% static 'cf_logo.png' %}" alt="Creating Futures Logo" class="logo">
        {% csrf_token %}
        <center>
            {{ form.as_p}}
            <!--<input type="submit" value="Send me instructions!">-->
            <button class="login-btn" onclick="validatePasswordReset()">Send</button>
    </div>

    </center>
</form>
{% endblock %}