{% extends "Emp_app/base.html" %}
{% block css %}


<script>
        function navigateToEmployeePage(emp_id) {
            var url = "/employee/" + emp_id + "/";
            window.location.href = url;
    
        }
    
</script>



<style>

    .container {
        width: 70%;
        margin: auto;
        margin-top: 10%;
        margin-left: 15%;
    }

    .main-header {
        font-size: 25px;
        color: orange;
        text-align: center;
        margin-top: -15%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .employee-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .employee-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .employee-header .name {
        font-weight: bold;
        margin-left: 4px;
        font-size: 20px;
    }

    .employee-header .role {
        font-weight: bold;
        font-size: 20px;
        margin-right: 50%;
    }

    .employee {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        padding: 8px 20px;
        margin-bottom: 25px;
    }

    .name, .role_name {
        flex: 1;
        margin: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon-container {
        flex-shrink: 0; 
    }

   
    .role_name {
        text-align: left;
    }


    .fst_eyeIcon {
        margin-left: -20%;
        position: static;
        cursor: default;
    }

        .fst_eyeIcon:hover {
            cursor: pointer;
        }

    .add_box {
        font-size: 10px;
        color: orange;
        margin-left: 90%;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 40px;
        margin-top: -75%;
        position: relative;
    }

    .plusIcon {
        margin-left: 10%;
        font-size: 30px;
        margin-top: -30px;
    }

    .ad {
        margin-left: 40%;
        margin-top: 5px;
    }
</style>

{% endblock %}



{% block header %}

<div class="fixed-header">
    <h1 style=" margin-top: -25px; ">Employee details</h1>
</div>


{% endblock %}

{% block content %}
{% if user.is_staff %}


<div class="container">
    {% csrf_token %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <h1 class="main-header">All Employees</h1><br /><br />

    <div class="employee-header">
        <div class="name">Name</div>
        <div class="role">Role</div>
    </div><br />

    {% for employee in employees %}
    <div class="employee">
        <div class="name">{{ employee.fullname }}</div>
        <div class="role_name" style="margin-right: 34%;">{{ employee.designation }}</div>
        <div onclick="navigateToEmployeePage('{{employee.emp_id}}')" class="fst_eyeIcon" data-emp-id="{{ employee.emp_id }}">👁️</div>
    </div>
    {% endfor %}
</div>


<div class="add" style=" margin-right: 18%; margin-top: -31%; position:relative">
    <div class="add_box">
        <h1 class="ad">Add</h1>
        <div class="plusIcon">+</div>
    </div>
</div>
{% else %}
<p>You don't have permission to view this page.</p>
{% endif %}

{% endblock %}

