{% extends "Emp_app/base.html" %}
{% block css %}

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('id_password');
        var eyeIcon = document.getElementById('eyeIcon');

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.innerHTML = '🙈'; // HTML entity for eye open
        } else {
            passwordInput.type = "password";
            eyeIcon.innerHTML = '👁️'; // HTML entity for eye closed
        }
    }
</script>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 70px; /* Adjust this value based on the header's height */
    }

    .container {
        width: 70%;
        margin: auto;
        margin-top: 10%;
        margin-left: 15%;
    }

    .main-header {
        font-size: 25px;
        color: orange;
        text-align: center;
        padding: 10px;
        top: 18%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .employee-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .employee-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .employee-header .name {
        font-weight: bold;
        margin-left: 4px;
        font-size: 20px;
    }

    .employee-header .role {
        font-weight: bold;
        font-size: 20px;
        margin-right: 50%;
    }

    .employee {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #f3f3f3;
        border-radius: 5px;
        padding: 8px 20px;
        margin-bottom: 25px;
        flex-direction: row;
    }

    .role_name {
        position: absolute;
        right: 48%;
    }

    .fst_eyeIcon {
        margin-right: -40%;
    }

    .fst_pencilIcon {
        margin-left: -20%;
        position: static;
    }

    .icon-container {
        right: 5%;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .add_box {
        font-size: 10px;
        color: orange;
        margin-left: 90%;
        margin-bottom: -8%;
        border: 1px solid #ccc;
        border-radius: 45%;
    }

    .plusIcon {
        margin-left: 15%;
        font-size: 30px;
        margin-top: -42px;
    }

    .ad {
        margin-left: 40%;
    }
</style>

{% end block %}

{% block content %}

<div class="container">
    <div class="add">
        <div class="add_box">
            <h1 class="ad">Add</h1>
            <div onclick="togglePasswordVisibility()" class="plusIcon">+</div>

        </div>
    </div>

    <h1 class="main-header">All Employees</h1>
    <div class="employee-header">
        <div class="name">Name</div>
        <div class="role">Role</div>
    </div>
    <div class="employee">
        <div class="name">Jimmy Cherian</div>
        <div class="role_name" style="right: 49%;">Founder</div>
        <div onclick="togglePasswordVisibility()" class="fst_eyeIcon">👁️</div>
        <div onclick="toggleEditMode()" class="fst_pencilIcon">✏️</div>
    </div>

    <div class="employee">
        <div class="name">Smita</div>
        <div class="role_name">Employee</div>
        <div onclick="togglePasswordVisibility()" class="fst_eyeIcon" style="margin-right: -48%;">👁️</div>
        <div onclick="toggleEditMode()" class="fst_pencilIcon">✏️</div>

    </div>
    <div class="employee">
        <div class="name">Preethi</div>
        <div class="role_name">Employee</div>
        <div onclick="togglePasswordVisibility()" class="fst_eyeIcon" style="margin-right: -47%;">👁️</div>
        <div onclick="toggleEditMode()" class="fst_pencilIcon">✏️</div>

    </div>
    <div class="employee">
        <div class="name">Geetha Suresh</div>
        <div class="role_name">Employee</div>
        <div onclick="togglePasswordVisibility()" class="fst_eyeIcon">👁️</div>
        <div onclick="toggleEditMode()" class="fst_pencilIcon">✏️</div>

    </div>

</div>


{% end block %}