<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Comm.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bc0ac06df1.js" crossorigin="anonymous"></script>
    <style>
       
        body, h1, h2, h3, ul {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #F5F0EC;
        }

        @media screen and (max-width: 768px) {
           
        }
    </style>
    {% block css %}

    {% endblock %}
</head>
<body>

    {% block content %}

    {% endblock %}

    <script>
        // Add any scripts specific to this template if needed
    </script>

</body>
</html>
