{% extends "Emp_app/base.html" %}
{% block css %}

<script>
    $(document).ready(function () {
        var Role = document.getElementById("Role").innerText;
        document.getElementsByTagName('form')[0].onsubmit = validateDates;
        /*  alert(Role)*/
        debugger;
        $.ajax({
            type: "POST",
            url: "{% url 'employee' %}",
            headers: {
                'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val()
            },
            data: { data: Role },
            success: function (result) {
                debugger;
                var resultobj = $.parseJSON(result.info);
                /*  alert(result.info);*/

                var listItems = $("input[type=text], input[type=date],input[type=number],input[type=email],input[type=radio],select,textarea");
                for (let li of listItems) {
                    let product = $(li);
                    let attrname = product.data("dbname");
                    let inputtype = product.attr("type")

                    if (inputtype == "radio") {
                        let radioval = product.val();
                        if (resultobj[attrname] == radioval) {
                            product.attr("checked", "checked")
                        }

                    }
                    else {
                        product.val(resultobj[attrname]);
                    }
                }
            }
        });

        function handleStatusChange() {
            var status = document.getElementById("status").value;
            var dateOfResigningField = document.getElementById("dateOfResigning").parentNode.parentNode;

            if (status === "2") {
                dateOfResigningField.style.display = "";
            } else {
                dateOfResigningField.style.display = "none";
            }
        }
        handleStatusChange();
        document.getElementById("status").addEventListener("change", handleStatusChange);
    });

    function isPastDate(id) {
        var today = new Date();
        var inputDate = new Date(document.getElementById(id).value);
        return inputDate < today;
    }

    function isAtLeast18YearsOld(id) {
        var today = new Date();
        var birthDate = new Date(document.getElementById(id).value);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();

        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }
        return age >= 18;
    }

    function validateDates() {
        debugger;

        let errorMessages = [];

        if (document.getElementById('dateofJoining').disabled === false) {
            if (!isPastDate('dateofJoining')) {
                errorMessages.push('Error: Date of Joining cannot be a future date or the same as the current date.');
            }
        }
        if (document.getElementById('dateOfResigning').disabled === false) {
            if (!isPastDate('dateOfResigning')) {
                errorMessages.push('Error: Date of Resigning cannot be a future date or the same as the current date.');
            }
        }
        if (document.getElementById('dateOfBirth').disabled === false) {
            if (!isAtLeast18YearsOld('dateOfBirth')) {
                errorMessages.push('Error: Date of Birth should be at least 18 years before and cannot be the current date or a future date.');
            }
        }

        if (errorMessages.length > 0) {
            alert(errorMessages.join('\n'));
            return false;
        }

        if (!toggleEditUpdate()) {
            return false;
        }

        return true;
    }

    function Role() {
        var Role = document.getElementById("Role");
        alert(Role);
    }
    function toggleEdit() {
        const updateButton = document.getElementById("updateButton");

        var formFields = document.querySelectorAll("input[type=text], input[type=date], input[type=number], input[type=email], input[type=radio], select, textarea");

        if (updateButton.disabled === true) {
            formFields.forEach(field => {
                field.disabled = false;
            });
            updateButton.disabled = false;
        } else {
            formFields.forEach(field => {
                field.disabled = true;
            });
            updateButton.disabled = true;
        }
    }

</script>

<style>
    body {
        font-family: helvetica;
        padding: 20px;
        background-color: #f4f4f4;
    }

    .employee-details-title {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 20px;
    }


    .success-message {
        background-color: lightgreen;
        padding: 15px;
        border-radius: 30px;
    }

    .error-message, .danger-message {
        background-color: red;
        padding: 10px;
        margin-left: 20px;
        border-radius: 20px;
    }

    h3 {
        color: #333;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    td {
        padding: 8px;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    /*
        input[type="radio"] {
            margin-right: 5px;
        }
    */

    Textarea {
        resize: vertical;
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    /* #button {
          background-color: orange;
          color: white;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: 25px;
    }


    #button:hover {
          background-color: orange;
     }*/
    #editButton {
        width: 15%;
        border-radius: 10px;
        background-color: orange;
        cursor: pointer;
        padding: 5px;
    }

    #updateButton {
        width: 15%;
        border-radius: 10px;
        background-color: orange;
        cursor: pointer;
        padding: 5px;
    }


    .male {
        padding: 5px;
    }


    .female {
        padding: 5px;
        margin-top: -31px;
        margin-left: 75px
    }


    .other {
        padding: 5px;
        margin-top: -29px;
        margin-left: 170px;
    }

    .form-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        background-color: white;
    }

    @media (max-width: 768px) {
        table, input, textarea, select, button {
            width: 100%;
            max-width: 100%;
        }

        .form-container {
            padding: 10px;
        }

        .female {
            display: flex;
            margin-top: -28px;
            margin-right: 36%;
            margin-left: 34%;
        }

        .other {
            display: flex;
            margin-top: -28px;
            margin-right: 8%;
            margin-left: 71%;
        }

        .male {
            display: flex;
            margin-top: 10px;
            margin-right: 78%;
        }
    }

    .button-container {
        text-align: center;
    }
</style>
{% endblock %}


{% block header %}

<div class="fixed-header">
    <h1 style=" margin-top: -25px; ">Employee details</h1>
</div>


{% endblock %}

{% block content %}

<center>


    <form method="POST" action="{% url 'saveemployee' %}" name="employeeForm">

        {% csrf_token %}

        {% if messages %}

        {% for message in messages %}
        <div class="{% if message.tags %}{{ message.tags }}{% endif %}-message">{{ message }}</div>
        {% endfor %}

        {% endif %}
        <br /><br />

        <h3>Personal Details</h3>
        <table name="tblPersonalDetails">

            <!-- Full Name -->
            <tr>
                <td><label for="fullname">Full Name *</label></td>
                <td><input type="text" name="fullname" id="fullname" data-dbname="fullname" required disabled></td>
            </tr>
            <!-- Address -->
            <tr>
                <td><label for="address">Address *</label></td>
                <td><textarea id="address" name="address" data-dbname="address" required disabled></textarea></td>
            </tr>
            <!-- Date of Birth -->
            <tr>
                <td><label for="dateOfBirth">Date of Birth *</label></td>
                <td><input type="date" name="dob" id="dateOfBirth" data-dbname="dob" required disabled></td>
            </tr>
            <!-- Phone -->
            <tr>
                <td><label for="phoneNumber">Phone Number *</label></td>
                <td><input type="number" name="phonenumber" id="phoneNumber" data-dbname="phone_number" required disabled></td>
            </tr>
            <!-- Email ID -->
            <tr>
                <td><label for="emailId">Email ID *</label></td>
                <td><input type="email" name="emailId" id="emailId" data-dbname="email_id" required disabled></td>
            </tr>
            <!-- Gender -->

            <tr>
                <td>Gender *</td>
                <td>
                    <div class="male">
                        <input type="radio" id="male" name="gender" value="male" data-dbname="gender" required disabled>
                        <label for="male">Male</label>
                    </div>
                    <div class="female">
                        <input type="radio" id="female" name="gender" value="female" data-dbname="gender" required disabled>
                        <label for="female">Female</label>
                    </div>
                    <div class="other">
                        <input type="radio" id="other" name="gender" value="other" data-dbname="gender" required disabled>
                        <label for="other">Other</label>
                    </div>
                </td>
            </tr>

        </table>

        <br><hr><br>

        <h3>Employee Details</h3>
        <table>
            <!-- Employee ID -->
            <tr>
                <td><label for="employeeId">Employee ID *</label></td>
                <td><input type="text" id="employeeId" name="employeeId" data-dbname="emp_id" required readonly></td>
            </tr>



            <!-- Centre -->
            <tr>
                <td><label for="centre">Centre *</label></td>
                <td>
                    <select id="centre" name="center" data-dbname="center" required disabled>
                        <option value="">Select an option</option>
                        <option value="1">DJ Halli1</option>
                        <option value="2">DJ Halli2</option>
                        <option value="3">Bagalur</option>
                        <option value="4">Mylanahalli</option>
                        <option value="5">Kannur</option>
                        <option value="6">Koramangala</option>
                    </select>
                </td>
            </tr>


            <!-- Designation -->
            <tr>
                <td><label for="designation">Designation *</label></td>
                <td><input type="text" name="designation" id="designation" data-dbname="designation" required disabled></td>
            </tr>

            <!-- Date of Joining -->
            <tr>
                <td><label for="dateofJoining">Date of Joining *</label></td>
                <td><input type="date" name="dateofJoining" id="dateofJoining" data-dbname="date_of_joining" placeholder="dd-mm-YYYY" required disabled></td>
            </tr>

            <!-- Education Qualification -->
            <tr>
                <td><label for="educationQualification">Education Qualification  *</label></td>
                <td><input type="text" name="educationQualification" id="educationQualification" data-dbname="education_qualification" required disabled></td>
            </tr>

            <!-- Status -->
            <tr>
                <td><label for="status">Status *</label></td>
                <td>
                    <select id="status" name="status" data-dbname="status" required disabled onchange="handleStatusChange()">
                        <option value="">Select an option</option>
                        <option value="1">Active</option>
                        <option value="2">Resigned</option>
                    </select>
                </td>
            </tr>

            <!-- Date of Resigning -->
            <tr>
                <td><label for="dateOfResigning">Date of Resigning *</label></td>
                <td><input type="date" name="dateofResigning" id="dateOfResigning" data-dbname="date_of_resigning" placeholder="dd-mm-YYYY" required disabled></td>
            </tr>

            <!-- Resource Type -->
            <tr>
                <td><label for="resourceType">Resource Type *</label></td>
                <td>
                    <select id="resourceType" name="resourceType" data-dbname="resource_type" required disabled>
                        <option value="">Select an option</option>
                        <option value="1">Employee</option>
                        <option value="2">Part-time</option>
                        <option value="3">Consultant</option>
                    </select>
                </td>
            </tr>
        </table>

        <br><hr><br>

        <h3>Account Details</h3>
        <table>
            <!-- Name of the Bank -->
            <tr>
                <td><label for="bankName">Name of the Bank *</label></td>
                <td><input type="text" name="bankName" id="bankName" data-dbname="bank_name" required disabled></td>
            </tr>

            <!-- Name as per Bank -->
            <tr>
                <td><label for="nameAsPerBank">Name as per Bank *</label></td>
                <td><input type="text" name="nameAsPerBank" id="nameAsPerBank" data-dbname="name_as_per_bank" required disabled></td>
            </tr>

            <!-- Account Number -->
            <tr>
                <td><label for="accountNumber">Account Number *</label></td>
                <td><input type="text" name="accountNumber" id="accountNumber" data-dbname="account_number" required disabled></td>
            </tr>

            <!-- IFSC Code -->
            <tr>
                <td><label for="ifscCode">IFSC Code *</label></td>
                <td><input type="text" name="ifscCode" id="ifscCode" data-dbname="ifsc" required disabled></td>
            </tr>

            <!-- Branch -->

            <tr>
                <td><label for="branchName">Branch *</label></td>
                <td><input type="text" name="branchName" id="branchName" data-dbname="branch" required disabled></td>
            </tr>

            <!-- Account Type -->
            <tr>
                <td><label for="accountType">Account Type *</label></td>
                <td>
                    <select id="accountType" name="accountType" data-dbname="account_type" required disabled>
                        <option value="">Select an option</option>
                        <option value="1">Savings</option>
                        <option value="2">Current</option>
                    </select>
                </td>
            </tr>
        </table>

        <div class="button-container">
            <button id="editButton" type="button" onclick="toggleEdit()">Edit</button>
            <button id="updateButton" type="submit" disabled>Update</button>
        </div>

    </form><br><br>

</center>

{% endblock %}