{% extends "Emp_app/base.html" %}

{% load lower_filter %}

{% load custom_filters %}

{% block css %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector(".filter-icon").addEventListener("click", function () {
            var dropdown = document.querySelector(".dropdowns");
            dropdown.style.display = dropdown.style.display === "none" ? "flex" : "none";
        });

        document.getElementById("date-icon").addEventListener("click", function () {
            var fromDate = document.getElementById("from-date");
            var toDate = document.getElementById("to-date");
            fromDate.style.display = fromDate.style.display === "none" ? "block" : "none";
            toDate.style.display = toDate.style.display === "none" ? "block" : "none";
        });
    });

    function showpopup() {
        debugger
        document.getElementById('popup').style.display = 'flex';
        var row = event.target.closest('tr');
        var cells = row.querySelectorAll('td');
        document.getElementById('ddlfullname').value = cells[1].textContent;
        document.getElementById('date').value = cells[0].textContent;
        document.getElementById('Program').value = cells[2].textContent;
        document.getElementById('Project').value = cells[3].textContent;
        document.getElementById('Center_Type').value = cells[5].textContent;
        document.getElementById('Activity').value = cells[4].textContent;
        document.getElementById('session_number').value = cells[6].textContent;
        document.getElementById('Trainer_Type').value = cells[8].textContent;
        document.getElementById('Duration').value = cells[11].textContent;
        document.getElementById('Status').value = cells[12].textContent;
        document.getElementById('Beneficiaries').value = cells[9].textContent;
        document.getElementById('Category').value = cells[10].textContent;
        document.getElementById('Sponsor').value = cells[7].textContent;
        document.getElementById('Comments').value = cells[13].textContent;


        var programText = cells[2].textContent;
        var centreTypeText = cells[5].textContent;


        document.getElementById('Program').value = getProgramValue(programText);
        document.getElementById('Center_Type').value = getCentreTypeValue(centreTypeText);

    }



    function getResourceTypeValue(text) {

        if (text === 'Employee') {
            return '1';
        } else if (text === 'Part-time') {
            return '2';
        } else if (text === 'Consultant') {
            return '3';
        }

    }

    function getProgramValue(text) {
        switch (text) {
            case 'Bridge Course':
                return '1';
            case 'Academics':
                return '2';
            case 'After School Program':
                return '3';
            case 'Awareness Sessions':
                return '4';
            case 'Camps(Summer/Winter)':
                return '5';
            case 'Career Guidance':
                return '6';
            case 'Computer Coaching-Advanced':
                return '7';
            case 'Computer Coaching-Basics with Typing':
                return '8';
            case 'Computer Coaching-Basics without Typing':
                return '9';
            case 'Computer Coaching-Typing':
                return '10';
            case 'Counselling':
                return '11';
            case 'E2E(Education to Employability)':
                return '12';
            case 'Emotional Management':
                return '13';
            case 'Exam Readiness':
                return '14';
            case 'Gender Sensitivity':
                return '15';
            case 'Internship':
                return '16';
            case 'Integrated Program':
                return '17';
            case 'Kannada':
                return '18';
            case 'Life Skills':
                return '19';
            case 'Office Assistant':
                return '20';
            case 'Parental Guidance':
                return '21';
            case 'Personality Development':
                return '22';
            case 'Soft Skills':
                return '23';
            case 'Software Development':
                return '24';
            case 'Spoken English':
                return '25';
            case 'Tailoring':
                return '26';
            case 'Tailoring-Tassel Typing':
                return '27';
            case 'Tally':
                return '28';
            case 'Teacher Development':
                return '29';
            case 'TTT':
                return '30';
            case 'Wellbeing':
                return '31';
            case 'Women Development':
                return '32';
            case 'WSD':
                return '33';
            default:
                return '';
        }
    }




    function getCentreTypeValue(text) {
        // Mapping of text to option value for centre type dropdown
        // Example:
        if (text === 'DJ_halli 1') {
            return '1';
        } else if (text === 'DJ_halli 2') {
            return '2';
        } else if (text === 'Bagalur') {
            return '3';
        } else if (text === 'Mylanahalli') {
            return '4';
        } else if (text === 'Kannur') {
            return '5';
        }
        // Add more mappings as needed
    }


    function hidePopup() {
        document.getElementById('popup').style.display = 'none';
    }

    function validateAndSave(isDuplicate = false) {

        saveData(isDuplicate);
    }



    function applyFilters() {

        var selectedProgram = document.getElementById('program-select').value;
        var selectedProject = document.getElementById('project-select').value;
        var selectedCenter = document.getElementById('center-select').value;
        var selectedTrainer = document.getElementById('trainer-select').value;
        var selectedSponsor = document.getElementById('Sponsor').value;
        var selectedCategory = document.getElementById('Category').value;
        var selectedStatus = document.getElementById('Status').value;

        fetch('/filter_sessions/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                program: selectedProgram,
                project: selectedProject,
                center: selectedCenter,
                trainer: selectedTrainer,
            })
        })
            .then(response => response.json())
            .then(data => {
                updateTable(data);
            });
    }




    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }






    function searchPrograms() {
        var input, filter, select, options, option, i;
        input = document.getElementById("program-search");
        filter = input.value.toUpperCase();
        select = document.getElementById("program-select");
        options = select.getElementsByTagName("option");

        for (i = 0; i < options.length; i++) {
            option = options[i];
            if (option.innerHTML.toUpperCase().indexOf(filter) > -1) {
                option.style.display = "";
            } else {
                option.style.display = "none";
            }
        }
    }
</script>

<style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h1 {
            margin-left: 38%;
            margin-top: -8%;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 20px;
            position: relative;
            margin-right: 5%;
            margin-top: 4%;
            margin-left: -10px;
        }

        .search-box {
            display: flex;
            align-items: center;
            width: 45%;
            margin-right: -15%;
        }

            .search-box input {
                width: 100%;
                max-width: 300px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-right: 5px; /* Add margin to create space between input and icons */
            }

            .search-box button {
                background-color: #d7ca94;
                cursor: pointer;
                font-size: medium;
                height: 30px;
            }

        .filter-icon {
            margin: 5px;
            margin-left: -20px;
            cursor: pointer;
            font-size: x-large;
        }

        .dropdowns {
            display: none;
            flex-wrap: wrap;
            gap: 5px;
            align-items: center;
            margin-top: 10%;
            position: absolute;
            justify-content: center;
        }

        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }

            .search-box input {
                margin: 0 auto;
            }
        }

        /*.search-box input {
            width: 150%;
            padding: 10px 40px 10px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }*/

        .search-box button, .dropdown button {
            background-color: #d7ca94;
            cursor: pointer;
        }

        /*.filter-icon {
            font-size: 23px;
            cursor: pointer;
            margin: 5px;
        }


        .dropdowns {
            display: none;
            flex-wrap: wrap;
            gap: 5px;
            align-items: center;
            margin-top: 10%;
            position: absolute;
            justify-content:center;
        }


        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
        }
    */

        /*    #sessionsTable {
            display: block;
            overflow: auto;
            max-height: 530px;
            width: 90%;
            margin-top: 50px;
        }*/

        .table {
            display: block;
            overflow: auto;
            max-height: 530px;
            width: 70%; 
            margin: 0 auto;
            margin-top: 60px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

       td {
            padding: 8px;
            text-align: center;
            border: 1px solid black;
        }

       th{
           padding:8px;
           text-align:center;
           border:1px solid black;
       }


        #bts {
            margin-left: 65%;
            background-color: orange;
            width: 100px;
            height: 15%;
        }


        .form-columns {
            display: flex;
            justify-content: space-between;
        }

        .form-column {
            width: 48%;
        }



        /*    .tdtd {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
            cursor: pointer;
        }*/

        .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .blank-box {
            width: 60%;
            max-width: 600px;
            background-color: white;
            border: 1px solid #ccc;
            margin: 10px auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .scroll-container {
            overflow: auto;
            max-height: 500px;
        }

            .scroll-container label {
                display: block;
                margin: 10px 0 5px;
                font-weight: bold;
            }

            .scroll-container input[type="text"],
            .scroll-container input[type="date"],
            .scroll-container select {
                width: 90%;
                margin: 5px 0;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .scroll-container.comment-box {
                width: 90%;
                margin: 10px 0;
                padding: 8px;
            }

                .scroll-container.comment-box textarea {
                    width: 100%;
                    height: 100px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }


            .scroll-container#btnSave {
                width: auto;
                background-color: orange;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
                font-weight: bold;
                transition: background-color 0.3s ease;
                display: block;
            }

            .scroll-container#btnSaveDuplicate {
                width: auto;
                background-color: orange;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
                font-weight: bold;
                transition: background-color 0.3s ease;
                display: block;
            }

            .scroll-container.button-container button {
                background-color: orange;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
                font-weight: bold;
                transition: background-color 0.3s ease;
            }
            /*
              @media (max-width: 708px) {
            .blank-box {
                width: 80%;
            }*/

            .scroll-container input[type="text"],
            .scroll-container input[type="date"],
            .scroll-container select,
            .scroll-container.comment-box {
                width: 100%;
            }

        #date-icon {
            cursor: pointer;
            font-size: large;
            margin-bottom: 2px;
        }


        .date-input {
            display: none;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 5px;
        }

            .date-input::-webkit-input-placeholder {
                color: #888;
                font-style: italic;
            }

            .date-input::-moz-placeholder {
                color: #888;
                font-style: italic;
            }

            .date-input:-ms-input-placeholder {
                color: #888;
                font-style: italic;
            }

            .date-input:-moz-placeholder {
                color: #888;
                font-style: italic;
            }

        #program-select, #project-select, #center-select, #trainer-select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 5px;
        }

        #but {
            margin-left: 70%;
            width: 8%;
            background: orange;
            padding: 5px;
        }

        #btnSave, #btnSaveDuplicate {
            background: orange;
            width: 11%;
        }
</style>

{% endblock %}


{% block content %}

<h1>Session Details</h1>

<div class="container">
    <form method="GET" action="{% url 'search_input' %}">
        <input type="text" name="search" placeholder="(Date, Fullname, Activity)" required autocomplete="off">
        <button type="submit">Search</button>
    </form>

 
</div>

<button id="but" onclick="openCreatePage()">Create</button>

<form method="post" action="{% url 'save_session' %}">

    {% csrf_token %}

    <div class="table-container">

        <div id="scrollable-table">

            <table id="sessionsTable" class="table">
                <tr bgcolor="orange">

                    <th>
                        Date
                        <input type="date" id="date" name="date"  style=" width: 17px; margin-left:60px">
                    </th>
                    <th>
                        Full name
                        <select id="ddlfullname" name="fullname" style=" width: 20px;" required>
                            <option value="Select an option">Select an option</option>
                            <option value="Preethi">Preethi</option>
                            <option value="Sonia">Sonia</option>
                            <option value="Jimmy Cherian">Jimmy Cherian</option>
                            <option value="Smitha">Smitha</option>
                            <option value="Sujeeth">Sujeeth</option>
                        </select>
                    </th>
                    <th>
                        Program
                        <select id="Program" name="Program" style=" width: 20px;" required>
                            <option value="Select an option" data-dbname="SelectAnOption">Select an option</option>
                            <option value="1" data-dbname="BridgeCourse">Bridge Course</option>
                            <option value="2" data-dbname="Academics">Academics</option>
                            <option value="3" data-dbname="After School Program">After School Program</option>
                            <option value="4" data-dbname="AwarenessSessions">Awareness Sessions</option>
                            <option value="5" data-dbname="Camps">Camps(Summer/Winter)</option>
                            <option value="6" data-dbname="CareerGuidance">Career Guidance</option>
                            <option value="7" data-dbname="ComputerCoachingAdvanced">Computer Coaching-Advanced</option>
                            <option value="8" data-dbname="ComputerCoachingBasicsWithTyping">Computer Coaching-Basics with Typing</option>
                            <option value="9" data-dbname="ComputerCoachingBasicsWithoutTyping">Computer Coaching-Basics without Typing</option>
                            <option value="10" data-dbname="ComputerCoachingTyping">Computer Coaching-Typing</option>
                            <option value="11" data-dbname="Counselling">Counselling</option>
                            <option value="12" data-dbname="E2E">E2E(Education to Employability)</option>
                            <option value="13" data-dbname="EmotionalManagement">Emotional Management</option>
                            <option value="14" data-dbname="ExamReadiness">Exam Readiness</option>
                            <option value="15" data-dbname="GenderSensitivity">Gender Sensitivity</option>
                            <option value="16" data-dbname="Internship">Internship</option>
                            <option value="17" data-dbname="IntegratedProgram">Integrated Program</option>
                            <option value="18" data-dbname="Kannada">Kannada</option>
                            <option value="19" data-dbname="LifeSkills">Life Skills</option>
                            <option value="20" data-dbname="OfficeAssistant">Office Assistant</option>
                            <option value="21" data-dbname="ParentalGuidance">Parental Guidance</option>
                            <option value="22" data-dbname="PersonalityDevelopment">Personality Development</option>
                            <option value="23" data-dbname="SoftSkills">Soft Skills</option>
                            <option value="24" data-dbname="SoftwareDevelopment">Software Development</option>
                            <option value="25" data-dbname="SpokenEnglish">Spoken English</option>
                            <option value="26" data-dbname="Tailoring">Tailoring</option>
                            <option value="27" data-dbname="TailoringTasselTyping">Tailoring-Tassel Typing</option>
                            <option value="28" data-dbname="Tally">Tally</option>
                            <option value="29" data-dbname="TeacherDevelopment">Teacher Development</option>
                            <option value="30" data-dbname="TTT">TTT</option>
                            <option value="31" data-dbname="Wellbeing">Wellbeing</option>
                            <option value="32" data-dbname="WomenDevelopment">Women Development</option>
                            <option value="33" data-dbname="WSD">WSD</option>

                        </select>
                    </th>

                    <th>
                        Project
                        <input type="text" id="Project" name="Project" style=" width: 50px;">

                    </th>
                    <th>
                        Activity
                        <input type="text" id="Activity" name="Activity" style=" width: 50px;">

                    </th>
                    <th>
                        Center_Type
                        <select id="Center_Type" name="Center_Type" style=" width: 20px;" required>
                            <option value="Select an option">Select an option</option>
                            <option value="1" data-dbname="DJ_halli 1">DJ_halli 1</option>
                            <option value="2" data-dbname="DJ_halli 2">DJ_halli 2</option>
                            <option value="3" data-dbname="Bagalur">Bagalur</option>
                            <option value="4" data-dbname="Mylanahalli">Mylanahalli</option>
                            <option value="5" data-dbname="Kannur">Kannur</option>
                        </select>
                    </th>
                    <th>
                        Session_Number
                        <input type="number" id="session_number" name="Session_number" style=" width: 50px;">

                    </th>
                    <th>
                        Sponsor
                        <select id="Sponsor" name="Sponsor" style=" width: 20px;" required>
                            <option value="">Select an option</option>
                            {% for Sponsor in Sponsors %}
                            <option value="{{ Sponsor.sponsor }}">{{ Sponsor.sponsor|sponsor_to_string }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>
                        Trainer_Type
                        <select id="Trainer_Type" name="Trainer_Type" style=" width: 20px;" required>
                            <option value="">Select an option</option>
                            <option value="1" data-dbname="Lead">Lead</option>
                            <option value="2" data-dbname="Co-Facilator">Co-Facilator</option>
                            <option value="3" data-dbname="Volunteer">Volunteer</option>
                        </select>
                    </th>
                    <th>
                        Beneficiaries
                        <input type="number" id="Beneficiaries" name="Beneficiaries" data-dbname="Beneficiaries" style="width:50px;">
                    </th>
                    <th>
                        Category
                        <select id="Category" name="Category" style=" width: 20px;" required>
                            <option value="">Select an option</option>
                            {% for category in Categories %}
                            <option value="{{ category.category }}">{{ category.category|category_to_string }}</option>



                            {% endfor %}
                        </select>

                    </th>
                    <th>
                        Duration
                        <input type="number" id="Duration" name="Duration" data-dbname="Duration" style="width:50px;">

                    </th>
                    <th>
                        Status
                        <select id="Status" name="Status" style=" width: 20px;" required>
                            <option value="">Select an option</option>
                            {% for status in Statues %}
                            <option value="{{ status.status }}">{{  status.status|status_to_string }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Comments</th>
                    <th>Action</th>
                </tr>

                {% for program in programs %}
                <tr bgcolor="white">
                    <td>{{program.date}}</td>
                    <td>{{program.emp.fullname}}</td>
                    <td>{{program.xref.program_name|program_to_string}}</td>
                    <td>{{program.xref.project_name}}</td>
                    <td>{{program.activity }}</td>
                    <td>{{program.center_type|centertype_to_string}}</td>
                    <td>{{program.session_number}}</td>
                    <td>{{program.sponsor|sponsor_to_string}}</td>
                    <td>{{program.trainer_type|TrainerType_to_string}}</td>
                    <td>{{program.beneficiaries }}</td>
                    <td>{{program.category|category_to_string }}</td>
                    <td>{{program.duration}}</td>
                    <td>{{program.status|status_to_string }}</td>
                    <td>{{program.comments }}</td>
                    <td class="tdtd">
                        <button type="button" class="add-row-button" onclick="showpopup()"> <i class="fa-solid fa-eye" style="color: #ff7b00;"></i> </button>
                    </td>


                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <script>
        function openCreatePage() {
            var url = "{% url 'createpage' %}";
            window.open(url, 'Create Page', 'height=600,width=800');
        }
    </script>

    <div id="popup" class="popup">
        <div class="blank-box">
            <div class="scroll-container">

                <h2>Details</h2>

                <label id="fullname">full Name</label>
                <select id="ddlfullname" name="fullname" required>
                    <option value="Select an option">Select an option</option>
                    <option value="Preethi">Preethi</option>
                    <option value="Sonia">Sonia</option>
                    <option value="Jimmy Cherian">Jimmy Cherian</option>
                    <option value="Smitha">Smitha</option>
                    <option value="Sujeeth">Sujeeth</option>
                </select>


                <br>

                <label for="date">Date</label>
                <input type="date" id="date" name="date"><br>



                <label for="Program">Program</label>
                <select id="Program" name="Program" required>
                    <option value="Select an option" data-dbname="SelectAnOption">Select an option</option>
                    <option value="1" data-dbname="BridgeCourse">Bridge Course</option>
                    <option value="2" data-dbname="Academics">Academics</option>
                    <option value="3" data-dbname="After School Program">After School Program</option>
                    <option value="4" data-dbname="AwarenessSessions">Awareness Sessions</option>
                    <option value="5" data-dbname="Camps">Camps(Summer/Winter)</option>
                    <option value="6" data-dbname="CareerGuidance">Career Guidance</option>
                    <option value="7" data-dbname="ComputerCoachingAdvanced">Computer Coaching-Advanced</option>
                    <option value="8" data-dbname="ComputerCoachingBasicsWithTyping">Computer Coaching-Basics with Typing</option>
                    <option value="9" data-dbname="ComputerCoachingBasicsWithoutTyping">Computer Coaching-Basics without Typing</option>
                    <option value="10" data-dbname="ComputerCoachingTyping">Computer Coaching-Typing</option>
                    <option value="11" data-dbname="Counselling">Counselling</option>
                    <option value="12" data-dbname="E2E">E2E(Education to Employability)</option>
                    <option value="13" data-dbname="EmotionalManagement">Emotional Management</option>
                    <option value="14" data-dbname="ExamReadiness">Exam Readiness</option>
                    <option value="15" data-dbname="GenderSensitivity">Gender Sensitivity</option>
                    <option value="16" data-dbname="Internship">Internship</option>
                    <option value="17" data-dbname="IntegratedProgram">Integrated Program</option>
                    <option value="18" data-dbname="Kannada">Kannada</option>
                    <option value="19" data-dbname="LifeSkills">Life Skills</option>
                    <option value="20" data-dbname="OfficeAssistant">Office Assistant</option>
                    <option value="21" data-dbname="ParentalGuidance">Parental Guidance</option>
                    <option value="22" data-dbname="PersonalityDevelopment">Personality Development</option>
                    <option value="23" data-dbname="SoftSkills">Soft Skills</option>
                    <option value="24" data-dbname="SoftwareDevelopment">Software Development</option>
                    <option value="25" data-dbname="SpokenEnglish">Spoken English</option>
                    <option value="26" data-dbname="Tailoring">Tailoring</option>
                    <option value="27" data-dbname="TailoringTasselTyping">Tailoring-Tassel Typing</option>
                    <option value="28" data-dbname="Tally">Tally</option>
                    <option value="29" data-dbname="TeacherDevelopment">Teacher Development</option>
                    <option value="30" data-dbname="TTT">TTT</option>
                    <option value="31" data-dbname="Wellbeing">Wellbeing</option>
                    <option value="32" data-dbname="WomenDevelopment">Women Development</option>
                    <option value="33" data-dbname="WSD">WSD</option>

                </select>
                <br>


                <label for="Project">Project</label>
                <input type="text" id="Project" name="Project"><br>

                <label for="Activity">Activity</label>
                <input type="text" id="Activity" name="Activity"><br>

                <label for="Center_Type">Center_Type</label>
                <select id="Center_Type" name="Center_Type" required>
                    <option value="Select an option">Select an option</option>
                    <option value="1" data-dbname="DJ_halli 1">DJ_halli 1</option>
                    <option value="2" data-dbname="DJ_halli 2">DJ_halli 2</option>
                    <option value="3" data-dbname="Bagalur">Bagalur</option>
                    <option value="4" data-dbname="Mylanahalli">Mylanahalli</option>
                    <option value="5" data-dbname="Kannur">Kannur</option>
                </select>
                <br>

                <label for="session_number">Session Number</label>
                <input type="text" id="session_number" name="Session_number"><br>

                <label for="Sponsor">Sponsor</label>
                <select id="Sponsor" name="Sponsor" required>
                    <option value="">Select an option</option>
                    <option value="1" data-dbname="Vajra">Vajra</option>
                    <option value="2" data-dbname="Bridge">Bridge</option>
                    <option value="3" data-dbname="TasteMaster">Taste Master</option>
                    <option value="4" data-dbname="LICT">LICT</option>
                    <option value="5" data-dbname="Others">Others</option>

                </select>
                <br>

                <label for="Trainer_Type">Trainer Type</label>
                <select id="Trainer_Type" name="Trainer_Type" required>
                    <option value="">Select an option</option>
                    <option value="1" data-dbname="Lead">Lead</option>
                    <option value="2" data-dbname="Co-Facilator">Co-Facilator</option>
                    <option value="3" data-dbname="Volunteer">Volunteer</option>
                </select>
                <br>

                <label for="Beneficiaries">Beneficiaries</label>
                <input type="number" id="Beneficiaries" name="Beneficiaries" data-dbname="Beneficiaries" style="width: 90%; margin: 5px 0; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" min="0">
                <br>

                <label for="Category">Category</label>
                <select id="Category" name="Category" required>
                    <option value="Select an option" data-dbname="SelectAnOption">Select an option</option>
                    <option value="1" data-dbname="Consultant">Consultant</option>
                    <option value="2" data-dbname="Employee">Employee</option>
                    <option value="3" data-dbname="Internship">Internship</option>
                    <option value="4" data-dbname="NewVolunteer">New-Volunteer</option>
                    <option value="5" data-dbname="ExVolunteer">Ex-Volunteer</option>
                </select>


                <label for="Duration">Duration</label>
                <input type="number" id="Duration" name="Duration" data-dbname="Duration" style="width: 90%;margin: 6px 0;padding: 9px;border: 1px solid #ccc;border-radius: 4px;" min="0">
                <br>

                <label for="Status">Status</label>
                <select id="Status" name="Status" required>
                    <option value="Select an option" data-dbname="SelectAnOption">Select an option</option>
                    <option value="1" data-dbname="Start">Start</option>
                    <option value="2" data-dbname="OnGoing">On-Going</option>
                    <option value="3" data-dbname="OnHold">On-Hold</option>
                    <option value="4" data-dbname="Completed">Completed</option>
                    <option value="5" data-dbname="Orientation">Orientation</option>
                    <option value="6" data-dbname="Travel">Travel</option>
                </select>
                <br>

                <label for="Comments">Comments</label>
                <div class="comment-box">
                    <textarea id="Comments" name="Comments" placeholder="Write our comment here"></textarea>
                </div>
                <br>

                <button id="updateButton" type="submit">Update</button>
                <br>

                <br>
                <button type="button" onclick="hidePopup()" id="btnSaveDuplicate">Close</button>
                <br>
            </div>
        </div>
    </div>

</form>

<p>Total number of records: {{ total_count }}</p>

<div class="pagination">
    {% if programs.has_previous %}
    <a href="?page=1">&laquo; 1</a>
    <a href="?page={{ programs.previous_page_number }}">2</a>
    {% endif %}

    <span class="current-page">Page {{ programs.number }} of {{ programs.paginator.num_pages }}</span>

    {% if programs.has_next %}
    <a href="?page={{ programs.next_page_number }}">3</a>
    <a href="?page={{ programs.paginator.num_pages }}">4 &raquo;</a>
    {% endif %}
</div>

    {% endblock %}