{% extends "Emp_app\login_base.html" %}
 {% block css %}
<style>
   

    form {
        display: flex;
        margin-left: 38%;
        margin-top: 0.5%;
        flex-direction: column;
    }

        form > input {
            margin: 10px;
        }

    button {
        width: 25.5em;
        height: 2em;
        margin-top: 0.5em;
        margin-left:10px;
        background-color:orange;
        border-radius:1px solid orange;
    }

        button:hover{
            background:orange;
            cursor:pointer;
        }

        #id_old_password {
            width: 25em;
            height: 3em;
        }

    #id_new_password1 {
        width: 25em;
        height: 3em;
    }

    #id_new_password2 {
        width: 25em;
        height: 3em;
    }

    .helptext > ul {
        display: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">

</script>
<script>
    $(document).ready(function () {
        alert("Hello World!");


        $("#id_old_password").attr("placeholder", "Enter old password");
        
        $("label[for='id_old_password']").hide();

        $("#id_new_password1").attr("placeholder", "Enter new password");

        $("label[for='id_new_password1']").hide();

        $("#id_new_password2").attr("placeholder", "Enter Confirm password");

        $("label[for='id_new_password2']").hide();
    });
</script>
 {% endblock %}

 {% block title %}
    Change password

 {% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save </button>
</form>
 {% endblock %}